body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#main{
    
}

#playerHandBox-el{
    display: flex;
    height: 155px;
    width: auto;
    
    
}
#dealerHandBox-el{
    display: flex;
    height: 155px;
    width: auto;
    
}


img{
   margin-left: 15px;
    border:black 1px solid;
}