body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    text-align: center;
}

#main{
    margin: auto;
    background-color: brown;
    width: 50%;
    margin-top: 4.5em;
    border-radius: 10px;
}

#playerHandBox-el{
    display: flex;
    height: 155px;
    width: auto;
    
    
}
#dealerHandBox-el{
    display: flex;
    height: 155px;
    width: auto;
    
}


img{
   margin-left: 15px;
    border:black 1px solid;
    border-radius: 5px;
    
}